# Upstox Daily Access Token
UPSTOX_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJrZXlfaWQiOiJza192MS4wIiwiYWxnIjoiSFMyNTYifQ.eyJzdWIiOiIxMTYwNTIiLCJqdGkiOiI2YTU0YjAzY2IxMDliMjA5MGIxZmFmMmYiLCJpc011bHRpQ2xpZW50IjpmYWxzZSwiaXNQbHVzUGxhbiI6ZmFsc2UsImlzRXh0ZW5kZWQiOnRydWUsImlhdCI6MTc4MzkzNTAzNiwiaXNzIjoidWRhcGktZ2F0ZXdheS1zZXJ2aWNlIiwiZXhwIjoxODE1NTE2MDAwfQ.GmsJdw_n0N-ORt6OtcjeYPIsaQ0QHeFOnDNRhYCgwmo
