# Upstox Daily Access Token (Generate daily from Upstox Developer Console)
UPSTOX_ACCESS_TOKEN=

# Google Sheets URL Configuration
GSHEET_WEBAPP_URL=
GSHEET_EXPORT_URL=https://docs.google.com/spreadsheets/d/1zu2aFeb63KmV7Qr2bNkYAjHUfjoNlKdte6oyruqoZWw/export?format=csv
